@charset "utf-8";
/* CSS Document */

/** Variables */
:root {
    /* Fuentes */
    --fuente_principal: 'Poppins', sans-serif;

    /* Tamaño de Media Queries */
    --telefono: 480px;
    --tablet: 768px;
    --desktop: 1024px;

    /* Colores */
    --azul: #0da6f3;
    --azulOscuro: #002e4a;
    --rojo: #cb0000;
    --verde: #329f00;
    --negro: #1a1b15;
    --verdeClaro: #c0ca33;

    --blanco: #FFFFFF;
    --gris: #e1e1e1;

    --separacion: 5rem;

    /* Fuentes */
    --delgada: 300;
    --regular: 400;
    --bold: 700;
    --black: 900
}

/** Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    color: var(--negro);
    font-family: var(--fuente_principal);
    font-size: 1.6rem;

    @media (min-width: 758px) {
        height: 100%;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

/* body {
    font-family: "Roboto Flex", sans-serif;
    background-color: fafafa;
    margin: 0;
} */

/* Estilos contenedor de todo el documento */

#contenedor {
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
}

/* Estilos contenedor de todo el contenido  */

#contenido {
    padding: 20px;
    float: left;
}

/* Titulos */

h1,
h2,
h3,
h5,
h6 {
    font-family: var(--fuente_principal);
    color: var(--azulOscuro);
}

h2 {
    font-weight: var(--bold);
    color: var(--verde);
    text-transform: uppercase;
}

h4 {
    margin-top: 26px;
    font-weight: 600;
    color: #c0ca33;
}

main {
    margin-bottom: 10rem;
}

section {
    margin-bottom: 10rem;
}

.nombre-pagina {
    text-align: center;
    margin: 5rem 0;
    font-weight: var(bold);
    text-transform: capitalize;
}

.nombre-pagina span {
    color: var(--azul);
    font-weight: var(--bold);
}

.descripcion-pagina {
    text-align: center;
}

/** Estilos NAV */
#aux a {
    color: var(--fuente_principal);
}

#navPrincipal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* float: right;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 10px;
    max-width: 400px; */
}

#navPrincipal li {
    font-family: var(--fuente_principal);
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    float: left;
}

#logo {
    padding: 20px;
    float: left;
    width: 20rem;
    height: 15rem;
    float: left;
}

#aux {
    float: right;
    clear: right;
    padding: 0 24px 10px 0;
}

#navPrincipal a {
    cursor: pointer;
    color: #002e4a;
    font-size: 14px;
    font-weight: 600;
}

#aux a {
    text-decoration: underline;
    cursor: pointer;
    color: #002e4a;
    font-size: 16px;
}

#navPrincipal a:hover {
    color: #c0ca33;
}

#cabezal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #f5f5f7;
    clear: both;
    color: fafafa;
    text-transform: uppercase;
}

/** Formulario */

.formulario {

    width: auto;

    @media (min-width: 768px) {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

.formulario fieldset {
    padding-top: calc(var(--separacion) / 3);
    margin-bottom: 5rem;
    border: none;
    border: 1px solid var(--gris);
    border-radius: 1rem;

    @media(min-width: 758px) {
        width: 60rem;
    }
}

.formulario legend {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--azulOscuro);
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo label {
    flex: 0 0 10rem;
}

.campo input {
    flex: 1;
    border: 1px solid var(--gris);
    padding: calc(var(--separacion) / 5);
    border-radius: 1rem;
}

.resultado {
    display: flex;
    justify-content: center;
    /* margin: calc(var(--separacion) / 4) 0; */
    /* width: auto;
    margin-bottom: 8rem; */
}

/** Acciones */
.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acciones ul {
    list-style-type: none;
}

.acciones a {
    font-family: var(--fuente_principal);
    cursor: pointer;
    color: #002e4a;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem;
}

.acciones a:hover {
    color: #c0ca33;
}

.alerta {
    padding: calc(var(--separacion) / 4);
    color: var(--blanco);
    width: 100%;
    display: block;
    margin: calc(var(--separacion) / 4) 0;
    text-align: center;
    font-weight: var(bold);
    text-transform: uppercase;
    width: 100%;
}

.error {
    background-color: var(--rojo);
}

.exito {
    background-color: var(--verde);
}

/* Estilos tabla */
table,
th,
td {
    border-collapse: collapse;
    border: none;
    /* padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px; */
    padding: 1.5rem;
    background-color: #fafafa;
    text-align: center;
}

.heading {
    border-bottom: 1px solid black;
    background-color: #fafafa;
    color: #002e4a;
    font-weight: normal;
}

table img,
td>input[type="button"] {
    width: 100px;
    min-width: 50px;
}

table tr:nth-child(odd) td {
    background-color: #ececec;
}

table tr:nth-child(even) td {
    background-color: #fafafa;
}

/* Estilos label de los inputs */
label {
    margin-left: 11px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: var(--bold);
}

p.ver-mas {
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #fc5130;
}

/* Estilos de los inputs */

/* input largo */
input[type="text"] {
    margin: 0 10px 10px 0;
    display: block;
    width: 60%;
    padding: calc(var(--separacion) / 5);
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: fafafa;
    background-clip: padding-box;
    border: 1.5px solid #4a5a70;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* input corto */
input[type="text"].inputMitad,
select {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    font-weight: 600;
    text-align: center;
    background-clip: padding-box;
    border: 1.5px solid var(--gris);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: background-color;
    transition-duration: .3s;
}

select:hover {
    cursor: pointer;
    background-color: var(--gris);
}

/* area de texto */
.textArea {
    margin: 0 10px 10px 0;
    display: block;
    width: 30%;
    min-height: 80px;
    color: #495057;
    background-color: fafafa;
    background-clip: padding-box;
    border: 1.5px solid #4a5a70;
    border-radius: 0.25rem;
}

/* boton */
input[type="button"],
button {
    background-color: #002e4a;
    color: #fafafa;
    border: 1px solid rgb(0, 58, 117);
    border-radius: 6px;
    min-width: 74px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .3s;

    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
}

input[type="button"]:hover {
    background-color: #c0ca33;
    border: 1px solid #eefe00;
    color: #fafafa;
    box-shadow: none;
    border-radius: 6px;
    min-width: 74px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
}

input[type="button"]:disabled {
    background-color: lightgray;
}

/* Estilos de los parrafos del contenido */

#lateral {
    background-color: #efefef;
    width: 290px;
    float: left;
    padding: 20px;
}

#lateral,
#contenido {
    min-height: 250px;
}

.articles2col {
    display: flex;
    align-items: self-start;
    margin: 15px 0 15px 0;
}

.articles1col {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: 10 auto;
}

.subContent {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/* Estilos del footer */

#footer {
    background-color: #f5f5f7;
    clear: both;
    padding: 20px;
    color: fafafa;
    font-size: 12px;
}

#footer a {
    cursor: pointer;
    color: #002e4a;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#tablaMaquinas {
    display: flex;
    justify-content: center;
}

table {
    padding: calc(var(--separacion) / 3);
    margin-bottom: 5rem;
    border: none;
    border: 1px solid var(--gris);
    border-radius: 1rem;

    @media(min-width: 758px) {
        width: 60rem;
    }
}

div #bienvenido {
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}

div #bienvenido .spanBienvenido {
    font-weight: var(--bold);
    color: var(--azulOscuro);
}